Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
missing
.deps/
.dirstamp
*.o
stamp-h1
ncdu
ncdu.1
*~
*.swp
static/*
!static/build.sh
